html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 50px;
  /* bottom = footer height */ }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%; }

.load-footer {
  height: 100px;
  width: 100%; }

.footer {
  height: 50px;
  width: 100%;
  box-shadow: 0px 2px 10px #888888; }

.search-results-list {
  list-style-type: none;
  padding-top: 100px;
  padding-bottom: 50px; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.inline-block-top-aligned {
  display: inline-block;
  vertical-align: top; }

.search-field {
  margin-left: 20px;
  margin-top: 10px; }

.half {
  width: 50%; }

.gray-background {
  background-color: #EDEDED; }

.top-bar {
  position: fixed;
  box-shadow: 0px 2px 20px #888888;
  top: 0; }

.logo {
  color: #BE0011; }

.logo-text {
  font-family: Georgia;
  font-size: 35px;
  margin-top: 0px;
  vertical-align: middle; }

.logo-image {
  width: 50px;
  height: 50x; }

.search-image {
  width: 20px; }

.search-block {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.search-results {
  margin-left: 5%; }

.count-table {
  width: 90%;
  margin-top: 20px; }

.load-more-text {
  text-align: center;
  vertical-align: middle;
  line-height: 100px; }

.spinner {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 20px; }

.centered-text {
  text-align: center;
  vertical-align: middle;
  line-height: 50px; }

.centered-text-load {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: large; }

table, th {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #d5d5d5; }
