{% load static %}
{% load staticfiles %}
{% get_static_prefix as STATIC_PREFIX %}
{% load compress %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
{% compress css %}
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}ding/search.css"></link>
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}ding/user_profile.css"></link>
{% endcompress  %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" async="true"></script>
{% compress js %}
	<script type="text/javascript" src="{{ STATIC_PREFIX }}ding/search.js" async="true"></script>
{% endcompress  %}

{% include "ding/user_profile.html" with name=user_name %}

<div class="logo">
	<p class = "logo-text">
		<img class = "logo-image" src="{{STATIC_PREFIX}}ding/images/logo_80_80.png" width="80" height="80" />
		ding
	</p>
</div>

<div class="search-block">
	<form class = "search-form" action="{% url 'ding:parsed_query_redirect' %}" method="post">
		{% csrf_token %}
		<input class="search-field" type="text" name="query">
		<input class="submit" type="submit" value="Search"/>
	</form>
</div>

<div class="most-frequent-searches">
	<table class="table table-striped count-table table-hover">
	<tr>
		<td class="no-highlight">#</td>
		<td class="no-highlight">Word</td>
		<td class="no-highlight">Count</td>
	</tr>
	{% for k, v in frequency_dictionary %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{k}}</td>
		<td>{{v}}</td>
	</tr>
	{% endfor %}
	</table>
</div>